---
import Plantillas from "../Components/Plantillas.svelte";
import ListaRamos from "../Components/ListaRamos.svelte";
import LayoutBase from "../Layouts/LayoutBase.astro";
---
<LayoutBase title="Promediando">

	<div class="flex gap-4 md:justify-around md:flex-row flex-col px-8">
		<ListaRamos client:only />
		<Plantillas client:load />
	</div>
	
</LayoutBase>