---
import Ramo from "../Components/Ramo.svelte"
import Plantillas from "../Components/Plantillas.svelte"
import CreadorRamo from "../Components/CreadorRamo.svelte"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Notas</title>
	</head>
	<body>
		<CreadorRamo client:load />
		<Plantillas client:load/>
		<!-- <Ramo client:load />-->
	</body>
</html>

<style>
	body{
		padding: 1rem;
	}
</style>
